<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dog</key>
	<string>dog.png</string>
	<key>Cat</key>
	<string>cat.jpg</string>
	<key>Ant</key>
	<string>ant</string>
	<key>Bat</key>
	<string>bat.jpg</string>
	<key>Bear</key>
	<string>bear.png</string>
	<key>Bee</key>
	<string>bee</string>
	<key>Buffalo</key>
	<string>buffalo.jpg</string>
	<key>Crab</key>
	<string>crab.png</string>
	<key>Fish</key>
	<string>fish</string>
	<key>Mouse</key>
	<string>mouse</string>
</dict>
</plist>
